services:
  db:
    image: postgres:15-alpine
    container_name: studyflow_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: studyflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    #restart: always

  # Interface Visual para ver o Banco (PgAdmin)
  pgadmin:
    image: dpage/pgadmin4
    container_name: studyflow_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
